

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<body>
			<div id="sidebar1">
				<h3><a href="ministries.html">Ministries</a></h3>
				<p>We have several ministries within our class that foster fellowship and permit class members
					to be involved and contribute to the class.</p>
					<ul>
						<li><a href="Ministries.html#Care">Care Giving</a></li>
						<li><a href="Ministries.html#Coffee">Coffee</a></li>
						<li><a href="Ministries.html#Greeting">Greeting</a></li>
						<li><a href="Ministries.html#Funding">Funding</a></li>
						<li><a href="Ministries.html#Hospitality">Hospitality</a></li>
						<li><a href="Ministries.html#Sarah">Sarah's Summary'</a></li>
					</ul>
					<hr />
					<h3><%= link_to "Membership", members_url %></a></h3>

						<div class="warning">You must be a member of the class and login to enter this area of the website.
						</div>
					<hr />
			</div>
			<!-- end #sidebar1 -->
			<div id="mainContent">
				<h1>Welcome</h1>
				<p>Welcome to the site of the Breakthrough Living Sunday School Class, which meets each Sunday
					at 9:00 a.m. at <a href="http://www.apostles.org">The Church of the Apostles</a> in Atlanta, Georgia.
					 Our class is led by Bruce Cook and Pat MacMillian, biblical scholars with a wealth of information
					about the Bible, the early history of the church, and the geography of the Mediterranean. We always
					welcome new members to our class.</p>
				<h2>What we are about</h2>
				<p>Our class provides an in-depth look at the Bible, focusing on the writings of Paul, so we can have a better
					understanding of the beautiful relationship we have with God. Along the way, we have fun together and build
					relationships with one another while we seek ways to expand our outreach.</p>
				<p>&nbsp;</p>
					<p><a href="http://www.breakthroughliv.mediashre.com" title="videos">Lesson Videos</a></p>
			</div>
		<div class="announcements">
			<h3 class="announcehead">ANNOUNCEMENTS:</h3>
				<li>We will not have any classes during the summer. Check back in August for an announcement on when our classes
					start again.</li><br />
				<li>Our class lessons are now available on-line. Just click on the &quot;Lesson&quot; link, above. You don't have
					to sign in to watch.</li>
				<br /><li>Check out our forum area and become a part of the community.</li><br />
		</div>
		<br class="clearfloat" />
		<div id="footer">
			<p>&copy; 2009-2011 - Atlanta, Georgia</p>
		</div>
				
	</body>
	
</html>