<h1 class="index">Class Events</h1>
<div class="events">
	<h5>Upcoming Events:</h5>
	When:  November 6, 2011<br />
	Where: LaPaz Mexican Restaurant in Vinings<br />
	Time:  5:30 p.m. <br />
	Cost:  $15 per person.<br /> 
	Dress: Casual<br />
	
	Signups begin on October 16 and go through October 30. Make checks payable to BTL SS Class.
</div>
<h3 class="center">Spring 2011 Year-end Party</h3>
<hr />
<br />
<div>
	<%= image_tag("blc2.jpg", :alt => "tennis player") %>
		<%= image_tag("blc3.jpg", :alt => "supper table") %>
</div>

<div>

</div>