<section>
	<header id="page_header">
		<h1>This is your help page</h1>
	</header>
	<div id="help">
		<p>
	This section is divided into a number of questions that should help you 
	with the site. If you cannot find the answer to your question, please
	send an email to bucklandlo@bellsouth.net and ask your question.
		</p>
		<hr />
<div class="new_way">	Why do I need to enter my password?</div>
<p class="answer">	Only those who have a password are able to access the list of class members. The list contains information that is not available to non-class members. The names of class members is only available to other class members -- the general public is unable to view names or personally identifiable information.</p>
<div class="new_way">	What is the difference between "Signin" and "New Member Sign Up"?</div>
<p class="answer">	The first time a class member visits the site, the class member will have to enter the site by clicking on the "New Member Sign Up" button. Here, the class member will enter the information they want to appear in the class listing that other class members can view. After signing in, the member will not have to enter through the "New Member Sign Up", but will sign on through Signin "button", which is located just under the BREAKTHROUGH LIVING CLASS picture. When you click the Signin button, you will be asked to enter your email address and the password you selected when you first signed in. You will have to sign in to be able to visit all parts of the site.</p>
	
<div class="new_way">Are there any special requirements for my password?</div>
<p class="answer">The only requirement is that your password must be at least 6 characters long and less than 40 characters long. Otherwise, you can use alpha characters, numbers, or symbols.</p>
<div class="new_way">Why do some class members have pictures and others do not?</div>
<p class="answer">If there isn't a picture, it means we have not taken the picture yet, or the picture has not been assigned to the class member after they sign up. We will take pictures at the back of the classroom on the second 
Sunday of each month.</p>
<div class="new_way">I want to change some of my information. How do I do that?</div>
<p class="answer">When you sign in, a new page will pop up that shows your information that everyone can view. Just click on the "Edit" button at the bottom of the page and you will be able to change your information. After you have changed your information, just click on the "Update User" button at the bottom of the page to capture the changes you have made.   </p>
<div class="new_way">Do I have to sign in each time I visit the site?</div>
<p class="answer">No, you do not if you do not sign out when you leave the site. When you sign in, the site will remember you each time you visit it until you decide to sign out. The sign out "button" is at the top of the page. If you sign out, the button changes to "Sign in" the next time you visit the site and you will then need to sign in with your email address and password to be able to access all parts of the site and edit your information.</p>
</div>

	
</section>	